<div data-options="dxView : { name: 'faq' } ">
  <div class="form" data-options="dxContent : { targetPlaceholder: 'content' } ,dxScrollView: { }">
      <div  data-bind="dxScrollView: { }">
      <iframe src="https://www.myplaywin.com/MobileApp/pages/Faq_app.html" width="100%" height="480px"></iframe>
      </div>
  </div>
    <!-- <div class="form"	data-options="dxContent : { targetPlaceholder: 'content' } ,dxScrollView: { }">

            <ol type="1" class="faq" data-bind="dxList:{dataSource: dataSource, grouped:false }" class="myRule" style="height:500px">
			<li data-options="dxTemplate : { name: 'item' }" data-bind="attr: { id: 'qa_'+$data.id }" style="white-space: normal;">
				<div class="question" data-bind="html: $data.question , click: $parent.showAns.bind($data) , attr:{id:'que_'+$data.id}"></div><br/>
				<div class="answer" data-bind="html: $data.answer,attr:{id:'ans_'+$data.id}" style="display:none"></div>
            </li>
            </ol>
    </div> -->
</div>
