
<div data-options="dxView : { name: 'myAccount', title: 'My Account' } " onload="window.open('http://card.myplaywin.com/myplaywin/jsp/Login.jsp?displaymode=PLY', '_blank', 'location=no', 'toolbar=yes'); return false">
<!-- 	<div class="form" data-options="dxContent : { targetPlaceholder: 'content' } ">
		<div  data-bind="dxScrollView: { }">

			<iframe height="100%" scrolling="no" width="100%"  onload="myFunction()" src="http://stackoverflow.com/questions/17887348/phonegap-open-link-in-browser">conetebfdhjkafhkj</iframe>

			<iframe src="http://stackoverflow.com/questions/17887348/phonegap-open-link-in-browser" width="100%" height="480px"></iframe>
			<iframe src="http://card.myplaywin.com/myplaywin/jsp/Login.jsp?displaymode=PLY" width="100%" height="480px"></iframe>
		</div>
	</div> -->
</div>
