<div data-options="dxView : { name: 'ourValues', title: 'Our Values' } ">
    <div class="form" data-options="dxContent : { targetPlaceholder: 'content' } ">
        <div  data-bind="dxScrollView: { }">
            <h1>   Customer Focus : </h1>

            <p>We consider our lottery players, retailers and distributors as our customers.. 

            <ul><li>
                    To the lottery players we will provide exciting and healthy entertainment by introducing new games, and convenience by creating a network of terminals at strategic locations.</li>
                <li>
                    To the retailers and distributors, we shall provide the necessary support to earn their loyalty and improve their earnings capacity.</li></ul></p>

            <h1>Team Work :</h1>
            <p>
                We are a part of the 'Playwin Family'. We believe that with mutual trust, respect and understanding for colleagues across all levels, departments and locations, we would be able to create a happy and healthy work culture.</p>
            <p>
                To us team work particularly means.

            <ul><li>
                    Commitment to adhere to mutually agreed timelines.
                </li><li>
                    Being responsive to the needs and requirements of others.
                </li>
                <li>
                    Open and clear communication
                </li></ul></p>

            <h1>Integrity :</h1>
            <p>
                We see integrity at the core of our dealing with all our stakeholders. We are committed to 

            <ul><li>
                    Ensuring transparency in game design and draws to the lottery players
                </li><li>
                    Adhering to commitments made to retailers, distributors and suppliers
                </li><li>
                    Following the set systems, processes and policies in letter and spirit for a smooth functioning of the organization
                </li></ul></p>

            <h1>Knowledge Management & Enhancement :</h1>

            <p>
                Being pioneers of the online lottery business in India, we have a rich repository of knowledge specific to this industry. And constant upgradation of individual and organizational learning will enable us to maintain our competitive advantage. This we will strive to achieve by

            <ul><li>
                    Constantly seeking newer opportunities for deploying technology to other applications
                </li><li>
                    Encouraging innovations of systems and processes to improve individual and organizational productivity
                </li></ul></p>

        </div>
    </div>
</div>